<div th:insert="fragments/header :: modelheader"></div>
<div class="container">
    <div th:class="'alert alert-'+${alert_type}" role="alert" th:if="${!#strings.isEmpty(alert_type)}" th:text="${alert_message}"/>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Produtos</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tr th:each="iv,i : ${session.venda.itensVenda}">
            <td th:text="${iv.produto.descricao}"> </td>
            <td th:text="${iv.produto.valor}"> </td>
            <td th:text="${iv.qtd}"> </td>
            <td th:text="${iv.total()}"> </td>
            <td> <a class="btn btn-danger" th:href="@{/venda/del-item/{id}(id=${i.index})}" >Remover</a>
            </td>
        </tr>
    </table>
    <div class="text-right">
        <p th:text="${'Total da compra: '+session.venda.total()}"></p>

        <span th:text="${!#strings.isEmpty(error_cart)} ? ${error_cart}"> </span>
        <form th:if="${session.venda.total()}!=0" th:action="@{/venda/save}" method="GET">
            <div class="form-row">
                <div class="col"></div>
                <div class="col">
                </div>
                <div class="col">
                    <select class="form-control form-select" th:classappend="${!#strings.isEmpty(error_client) ? 'is-invalid' : ''}" th:name="clienteId">
                        <option selected disabled>Selecione um cliente</option>
                        <option th:each="clientePF : ${clientesPF}" th:value="${clientePF.id}" th:text="${clientePF.nome} + ' - ' + ${clientePF.cpf}"></option>
                    </select>
                    <div class="invalid-feedback" th:if="${!#strings.isEmpty(error_client)}" th:text="${error_client}"/>
                </div>
            </div>
            <br/>


            <input type="submit" class="btn btn-primary" value="Finalizar carrinho">

        </form>
        <a th:unless="${session.venda.total()}!=0" class="btn btn-info" th:href="@{/produto/list}" >Adicionar produtos</a>
    </div>

</div>
<div th:insert="fragments/footer :: modelfooter"></div>