<div th:insert="fragments/header :: modelheader"></div>

<div class="container">
    <div th:class="'alert alert-'+${alert_type}" role="alert" th:if="${!#strings.isEmpty(alert_type)}" th:text="${alert_message}"/>

    <form  th:action="@{/venda/list}" method="GET" class="form-inline input-daterange input-group" id="datepicker">
        <span class="input-group-addon mr-sm-2">De</span>
        <input type="text" class="input-sm form-control mr-sm-2" name="dataStart" required/>
        <span class="input-group-addon mr-sm-2">Até</span>
        <input type="text" class="input-sm form-control mr-sm-2" name="dataStop" required />
        <button class="btn btn-outline-success " type="submit">Filtrar</button>
    </form>


    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>                
                <th>Cliente</th>
                <th>Total</th>
            </tr>
        </thead>
        <tr th:each="i : ${vendas}">
            <td th:text="${i.id}"> </td>
            <td th:text="${#temporals.format(i.data, 'dd/MM/yyyy')}"> </td>   
            <td th:text="${i.cliente.nome}"> </td>
            <td th:text="${#numbers.formatCurrency(i.total())}"> </td>
            <td><a th:href="@{/venda/detail/{id}(id=${i.id})}">Detalhes</a></td>
        </tr>
    </table>
</div>
<div th:insert="fragments/footer :: modelfooter"></div>
<script>
    $('.input-daterange').datepicker({
        endDate: "today",
        todayBtn: "linked",
        language: "pt-BR",
        format: "dd/mm/yyyy",
    });
</script>
