<div th:insert="fragments/header :: modelheader"></div>
<div class="container">
    <div th:class="'alert alert-'+${alert_type}" role="alert" th:if="${!#strings.isEmpty(alert_type)}" th:text="${alert_message}"/>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>valor</th>
            </tr>
        </thead>
        <tr th:each="i : ${produtos}">
            <td th:text="${i.id}"> </td>
            <td th:text="${i.descricao}"> </td>
            <td th:text="${i.valor}"> </td>
            <td>
                <form class="form-inline" th:action="@{/venda/add-item}" method="post" th:object="${itemVenda}">
                    <input type="hidden" th:name="produto.id" th:value="${i.id}">
                    <div class="form-group mx-sm-3 mb-2">
                        <input class="form-control" th:classappend="${!#strings.isEmpty(produto_id_error) and produto_id_error eq i.id ? 'is-invalid' : ''}"
                               type="number" th:name="qtd"  placeholder="Quant">
                        <div class="invalid-feedback" th:if="${!#strings.isEmpty(produto_id_error) and produto_id_error eq i.id}"
                             th:text="${errors}"/>
                    </div>

                    <input class="btn btn-primary mb-2" type="submit" value="Adicionar ao carrinho">
                </form> 
            </td>
        </tr>
    </table>
    <br/>
</div>
<div th:insert="fragments/footer :: modelfooter"></div>
